﻿<div>
    <!-- ng-controller="app.views.products.createModal as vm"-->
    <form id="frm_create_product" name="productCreateForm" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                <span>Create New Product</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="productname" type="text" name="ProductName" ng-model="vm.product.productName" required maxlength="100" minlength="2" class="validate form-control" />
                            <label for="productname" class="form-label">Product Name</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <textarea id="product-description" name="ProductDescription" ng-model="vm.product.productDescription" required maxlength="5000" minlength="2" class="validate form-control"></textarea>
                            <label for="product-description" class="form-label">Product Description</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <select name="unitofmeasurementid" ng-model="vm.product.unitOfMeasurementId" class="validate form-control" style="width: 100%;" ng-options="x.id as x.unitOfMeasurementName for x in vm.unitofmeasurements">
                                <option value="" ng-selected="vm.product.selected_unitOfMeasurementId <= 0">-- Select Unit Of Measurement --</option>
                            </select>
                            @*<label for="unitofmeasurementid" class="form-label">Unit Of Measurement</label>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                @L("Cancel")
            </button>
            <button type="button" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="productCreateForm.$invalid">
                @L("Save")
            </button>
        </div>
    </form>
</div>