﻿<style type="text/css">
    .table-sortable > thead > tr > th {
        cursor: pointer;
        position: relative;
    }

        .table-sortable > thead > tr > th:after,
        .table-sortable > thead > tr > th:after,
        .table-sortable > thead > tr > th:after {
            content: ' ';
            position: absolute;
            height: 0;
            width: 0;
            right: 10px; /* (right padding / 2) - arrow width */
            top: 16px; /* ((padding * 2) + line height) - arrow height */
            /** As pointed out by Dave Everitt in
    * https://css-tricks.com/snippets/css/css-triangle/
    * The arrow is not an equilateral triangle.
    * the height is 86.6% of the width.
    * Notice the above code does not subract the border
    * width exactly. It is subtracting
    * (rounded) border width * 86.6%
    **/
        }

        /* Default sortable indicator */
        .table-sortable > thead > tr > th:after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #ccc;
            border-bottom: 0px solid transparent;
        }
        /* !Default */

        /* Default sortable indicator:hover */
        .table-sortable > thead > tr > th:hover:after {
            border-top: 5px solid #888;
        }
        /* !Default:hover */

        /* Ascending sortable indicator */
        .table-sortable > thead > tr > th.asc:after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 0px solid transparent;
            border-bottom: 5px solid #333;
        }

        .table-sortable > thead > tr > th.asc:hover:after {
            border-bottom: 5px solid #888;
        }
        /* !Ascending */

        /* Descending sortable indicator */
        .table-sortable > thead > tr > th.desc:after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #333;
            border-bottom: 5px solid transparent;
        }
    /* !Descending */






    /* Heading styles */
    h2.page-header {
        margin-top: 0px;
        padding-top: 0px;
        line-height: 15px;
        vertical-align: middle;
    }

    h1 > .divider:before,
    h2 > .divider:before,
    h3 > .divider:before,
    h4 > .divider:before,
    h5 > .divider:before,
    h6 > .divider:before,
    .h1 > .divider:before,
    .h2 > .divider:before,
    .h3 > .divider:before,
    .h4 > .divider:before,
    .h5 > .divider:before,
    .h6 > .divider:before {
        color: #777;
        content: "\0223E\0020";
    }

    .inline-paginations {
        margin: 0px !important;
    }
</style>


<div class="row clearfix" ng-controller="app.views.products.index as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    Products
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="fa fa-spin fa-spinner" ng-if="vm.isTableLoading"></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class="waves-effect waves-block()" ng-click="vm.refresh();"><i class="material-icons">refresh</i> Refresh</a></li>
                            <li><a href="javascript:void(0);" class="waves-effect waves-block()" ng-click="vm.openProductCreationModal();"><i class="material-icons">add</i> Create</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <div ng-if="vm.products.length <= 0"><h4>No Records Found...</h4></div>
                <div ng-if="vm.products.length > 0">
                    <!-- ******************************************************** -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="dataTables_length" id="example1_length">
                                <label>
                                    Show&nbsp;<select ng-model="vm.itemsPerPage" class="input-sm" ng-options="x.ID as x.Value for x in vm.PageSizes" ng-change="vm.pageSizeChanged()"></select>&nbsp;entries
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-responsive table-bordered table-hover table-striped table-sortable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="asc" ng-click="vm.sortBy('ProductName')">Product Name</th>
                                        <th class="desc" ng-click="vm.sortBy('ProductDescription')">Product Description</th>
                                        <th>@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in vm.products">
                                        <td>{{vm.SkipCount + $index + 1}}</td>
                                        <td>{{product.productName}}</td>
                                        <td>{{product.productDescription}}</td>
                                        <td class="dropdown">
                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">menu</i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.openProductEditModal(product)"><i class="material-icons">create</i>@L("Edit")</a></li>
                                                <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.delete(product)"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Showing {{vm.showSart}} to {{vm.showEnd}} of {{vm.totalItems}} entries</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul class="pagination inline-paginations" uib-pagination items-per-page="vm.itemsPerPage" total-items="vm.totalItems" max-size="vm.maxSize" ng-model="vm.currentPage" ng-change="vm.pageChanged()" boundary-links="true" force-ellipses="force-ellipses" rotate="true"></ul>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" ng-click="vm.openProductCreationModal()">
                                                        <i class="material-icons">add</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <!-- ******************************************************** -->
                </div>

            </div>
        </div>
    </div>
</div>